<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ escape(handler.settings["blog_title"]) }}</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ static_url("style.css") }}">
<link rel="stylesheet" href="{{ static_url("style_blog.css") }}">
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<header class="center clearfix" id="navtop"> <a href="/" class="logo fleft"><img src="{{ static_url("logo.png") }}" alt="" /></a>
</header>
<div class="main center">
  {% block body %}{% end %}
</div>
<footer class="center part clearfix">
  <ul class="social column3 mrightfooter">
    <!--<li><a href="#">RSS</a></li>-->
    <li><a href="https://plus.google.com/116020500178365408649">Google+</a></li>
  </ul>
  <div class="up column3 mrightfooter"> <a href="#navtop" class="ir">Go up</a> </div>
<div align=center>Template Ciwok on The Hoy <a href='/'>Ciwok (aci di wok wok)</a></div>
</footer>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ static_url("jquery-1.5.1.min.js") }}"><\/script>')</script>
<script src="{{ static_url("slides.min.jquery.js") }}"></script>
<script src="{{ static_url("scripts.js") }}"></script>
<!--[if (gte IE 6)&(lte IE 8)]>
<script src="{{ static_url("selectivizr.js") }}"></script>
<![endif]-->
</body>
</html>
