{% extends "base.html" %}
-----
{% block body %}
<h3>Router Backup Managament</h3>
<form action="/backup" method="POST">
<div class="center">
<table style="width:70%">
<tr>
    <td>
    Hostname:
    </td>
    <td>
        
    </td>
    <td>
    <input name="hostname" type="text">   
    </td>
</tr>
<tr>
    <td>
    Username:
    </td>
    <td>
        
    </td>
    <td>
    <input name="username"><br>
    </td>
</tr>
<tr>
    <td>
    Password:
    </td>
    <td>

    </td>
    <td>
    <input name="password" type="password"><br>
    </td>
</tr>
<tr>

<tr>
    <td></td>
    <td></td>
    <td><input style="width: 150px;height: 40px" type="submit"></td>
</tr>
</table>
</div>
</form>
<br>
<br>
{% end %}
